<!DOCTYPE html>
<html>
  <head>
    <title>Twitter Chatter</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults, "http://vivid-sword-660.heroku.com/bayeux.js" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div>
      <% if current_user %>
        Welcome <%= current_user.name %> | <%= link_to "Sign out", signout_path %>
        <div id="username"><%= current_user.nickname %></div>
        <div id="container">                  
          <%= yield %>
        </div>
      <%else%>      
      <h2><%= link_to 'Sign in with Twitter', "/auth/twitter" %></h2>
      <br/>
      <h3>Please dont be afraid to sign in, this demo will only get read access to your twitter account</h3>
      <h3>1.What is this app?</h3>
      <h3>A public chat room.</h3>
      <h3>2.Features:</h3>
      <h3>2.1 Sign in with twitter account</h3>
      <h3>2.2 Can communicate in a public chat room and show twitter account name after each message</h3>
      <h3>2.3 Support @ filter, means you can write something like "@kevin @leni Good morning", only kevin and leni can see the message</h3>
      <h3>2.4 You can tweet messages directly onto you Twitter postwall
      <h3>2.5 Online user list to show who are currently signed in</h3>      
      <br/>
      <h3> Soucr Code: git@github.com:anklos/TwiChatter.git</h3>
      <h3><%= link_to 'Author', "http://anklos.info" %> 
      <%end%>
    </div>    
  </body>
</html>
