<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults, "http://vivid-sword-660.heroku.com/bayeux.js" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div>
      <% if current_user %>
        Welcome <%= current_user.name %> | <%= link_to "Sign out", signout_path %>
        <div id="container">
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <% end %>
          
          <%= yield %>
        </div>
      <%else%>
      <%= link_to 'Sign in with Twitter', "/auth/twitter" %>
      <%end%>
    </div>    
  </body>
</html>
